.mejs-button.mejs-playpause-button.mejs-play button {
	background: url(img/play.png);
}
.mejs-button.mejs-playpause-button.mejs-pause button {
	background: url(img/pause.png);
}

.mejs-button.mejs-volume-button.mejs-mute button{
	background: url(img/volume-high.png);
}
.mejs-button.mejs-volume-button.mejs-unmute button{
	background: url(img/volume-mute.png);
}